# Maven
target/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Playwright traces
target/traces/

# Allure
allure-report/

# Maven Wrapper JAR
!.mvn/wrapper/maven-wrapper.jar